<div class="container">
    <div class="top">
        <app-editor class="left"></app-editor>
        <mat-divider [vertical]="true" class="vertical"></mat-divider>
        <div class="right">
            <app-item-list></app-item-list>
            <mat-divider class="horizontal"></mat-divider>
        </div>
    </div>

    <mat-divider class="horizontal"></mat-divider>

    <div class="bottom">
        <div class="left">
            <app-output></app-output>
        </div>

        <mat-divider [vertical]="true" class="vertical"></mat-divider>

        <div class="right">
            <app-operator></app-operator>
        </div>
    </div>
</div>